.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 1023px) {
    .content-main {
        min-height: calc(100vh - 374px);
    }
}

.top-header{
    height: 23px;
    font-size: 14px;
}

.sign-in{
    font-size: 14px;
}

.sign-in:hover{
    text-decoration: none;
    cursor: pointer;
}

.background-light-black {
    background: #5b605f;
}

.background-black {
    background: #464646;
}

.background-silver {
    background: #cccccc;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus{
    outline: none;
}

.sticky-top {
    z-index: 900;
}

.icon-basket{
    width: 48px;
    height: 48px;
    background: url('../images/icons/shopping-basket-48.png');
    z-index: 0;
}

.menu a:hover{
    text-decoration: none;
}

.inner-basket {
    color: white;
    background-color: red;
    width: 20px;
    height: 20px;
    position: relative;
    bottom: -30px;
    right: -30px;
    z-index: 10;
    font-size: 12px;
    line-height: 1;
}

.card-header {
    height: 65px;
}

.card:hover {
    cursor: pointer;
}

#page-numbers {
    list-style: none;
    display: flex;
}
  
#page-numbers > li {
    color: #000000;
    user-select: none;
    cursor: pointer;
}

#page-numbers li.carrent-page {
    background: #5b605f;
    color: white;
}

#page-numbers li.paginationDisable {
    color: silver;
    cursor: auto;
}

.footer-bg{
    background: #9e9e9e;
}

#footer{
    color: #f5f5f5;
}

#footer ul{
    padding-left: 0;
}

#footer ul li {
    list-style: none;
}

#footer ul li a {
    color: #e6e6e6;
    text-decoration: none;
}

#footer ul li a:hover {
    color: white;
}

.footer-bottom-bg{
    background: #989898;
}

.dimmer-modals {
    position: fixed;
    top: 0!important;
    left: 0!important;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.85);
    user-select: none;
    will-change: opacity;
    z-index: 1000;
}

.stabdart-modal{
    display: block;
    width: 95%;
    margin: 0;
    position: absolute;
    z-index: 1001;
    text-align: left;
    background: #fff;
    border: none;
}

/*-----------------------5b605f Shadow effect for product cards -----------------------*/
.card.hover-shadow:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}


/*----------------------- Castom style for checkbox -----------------------*/
body .custom-control-input:checked~.custom-control-label::before {
	border-color: #adb5bd;
    background-color: silver;
}

body .custom-control-input:focus~.custom-control-label::before {
	box-shadow: none;
}

body .custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #adb5bd;
}


/*----------------------- Castom style for select -----------------------*/
body .custom-select:focus {
    border-color: silver;
    outline: 0;
    box-shadow: none;
}